/* media quries for Responsive Design */
@media screen and (max-width: 768px) {

  /* header responsiveness */



  .navbar {
    display: none;
  }

  .header-btn {
    display: none;
  }

  .menu {
    display: block;
    font-size: 1.7rem;
  }

  /* hero container */
  .hero-container {
    margin: 0 auto;
    height: auto;
    max-width: 80vw;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .hero-description .hero-title {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 20px;
  }

  .hero-description .hero-para {
    line-height: 25px;
    text-align: justify;
    margin-bottom: 25px;
  }

  .hero-description .hero-btn {
    color: white;
    width: 100%;
    background-color: black;
    padding: 15px 30px;
    border-radius: 3px;
    border: 1px solid black;
    /* outline: none; */
  }

  /* partner images */

  .partner-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    gap: 2px;

  }

  /* service container */

  .service-description {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2.5rem;
  }

  .service-description .service-title span {
    background-color: #b9ff66;
    padding: 5px;
    border-radius: 3px;

  }

  .service-description .service-para {
    text-align: center;
    font-size: 1rem;
    line-height: 1.9rem;
  }

  /* service cards */
  .service-cards {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

  }

  .service-card1 {
    padding: 10px;
  }

  .service-card1 .card-title-btn .card-para {

    font-size: 0.9rem;


  }

  .service-card1 .card-title-btn .card-anchor {
    text-decoration: none;
    color: black;
    display: none;
  }

  .service-card2 {
    padding: 10px;
  }

  .service-card2 .card-title-btn .card-para1 {
    font-size: 0.9rem;
  }

  .service-card2 .card-title-btn .card-anchor1 {
    display: none;
  }

  /* working section */

  .working-heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  /* testimonil */
  .testimonial-2,
  .testimonial-3,
  .testimonial-4,
  .testimonial-5,
  .testimonial-6 {
    padding: 1.5rem;
    border-radius: 3rem;
  }

  .testimonial-heading-2 .myspan2 {
    font-family: 1rem;
  }

  .testimonial-2 .testimonial-para2,
  .testimonial-3 .testimonial-para3,
  .testimonial-4 .testimonial-para4,
  .testimonial-5 .testimonial-para5,
  .testimonial-6 .testimonial-para6 {
    font-size: 1rem;
  }

  .contact-description {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
  }

  .contact-para {
    text-align: center;
  }

  .contact-image img {
    display: none;
  }

  .contact-form-container {
    display: flex;
    flex-direction: column;
    padding: 0.1rem;
  }

  /* for br tag */
  .desktop-break {
    display: none;
  }

  /* footer responsive section */

  .footer-contain {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .navbar-footer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 30px;
    text-align: center;
  }

  footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100vw;
  }

  .navbar-footer ul li a {
    text-decoration: none;
  }

  .social-links {
    display: none;
  }

  .footer-contact-info {
    padding: 40px 0px;
    max-width: 80vw;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;

  }

  .footer-contact-info .contact-info-items {
    display: flex;
    flex-direction: column;


  }

  .contact-info-item-span {
    margin: 0 auto;
  }

  .pera {
    margin: 0 auto;

  }

  address {
    line-height: 2rem;
  }

  .contact-info-email-form {
    flex: 1;
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: #292a32;
    border-radius: 10px;
    flex-wrap: wrap;
  }

  .contact-info-email-form #myemail {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    padding: 17px;
    color: white;
    width: 100%;
  }

  .subscribe-btn {
    background-color: #b9ff66;
    color: black;
    padding: 20px 20px;
    border-radius: 10px;
    border: none;
    width: 100%;
  }

  /* social links 2 */

  .social-links2 {
    display: block;
    text-align: center;

  }

  .social-links2 img {
    max-width: 30px;
    margin-left: 1.2rem;
    width: 100;
  }

  .copyright {
    max-width: 66vw;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-bottom: 40px;
  }

  .copyright a {
    text-decoration: none;
  }

}